@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {

    /* ... */
    --background: theme('colors.primary');
    --secondary: theme('colors.secondary');
    --neutral: theme('colors.neutral');
  }
  [data-theme='dark'] {
    --background: theme('colors.secondary');
    --secondary: theme('colors.neutral');
    --neutral: theme('colors.primary');

  }
}


@font-face {
  font-family: "NothingYouCouldDo";
  src: local('NothingYouCouldDo'), url("../fonts/NothingYouCouldDo.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatText";
  src: local('RedHatText'), url("../fonts/RedHatText.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BebasNeue";
  src: local('BebasNeue'), url("../fonts/BebasNeue.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BodoniModa";
  src: local('BodoniModa'), url("../fonts/BodoniModa.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GravitasOne";
  src: local('GravitasOne'), url("../fonts/GravitasOne.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candal";
  src: local('Candal'), url("../fonts/Candal.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CaudexItalic";
  src: local('CaudexItalic'), url("../fonts/CaudexItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

